django
djangorestframework
psycopg2
uwsgi
django-cors-headers
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
idna==2.8
itsdangerous==1.1.0
MarkupSafe==1.1.0
Pillow==8.1.1
pycodestyle==2.4.0
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
six==1.12.0
soupsieve==1.7.3
urllib3==1.24.2
